.volver {
  display: inline-block;
  margin-top: 10px;
  color: #0078c9;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.maindiv {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  padding-top: 5px;
  max-width: 1200px;
}

.description {
  text-align: center;
  margin-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.tarjeta {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 1.5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.tarjeta:hover {
  transform: scale(1.02);
}

.tarjeta h2 {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
}

.tarjeta a {
  align-self: center;
  padding: 0.5rem 1.2rem;
  background-color: #0078c9;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.tarjeta a:hover {
  background-color: #005fa3;
}

.tarjeta p {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.img-container {
  background-color: darkgray;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo {
  top: -11px;
}

.logo p {
  padding-top: 64px;
}