.contenido{
    padding: 20px;
}

.volver {
  display: inline-block;
  color: #005C92;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

ol{
    font-size: 35px;
}

.img-container {
  background-color: #EBF6FF;
  aspect-ratio: 3 / 4;
  width: 60%;          
  max-width: 300px;    
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}